<h1>angular-grpc</h1>

<p></p>

<h2>gRPC methods</h2>

<p><b>getHeroById</b></p>
<p>{{ hero | json }}</p>

<p><b>getHeroes</b></p>
<p>{{ heroes | json }}</p>

<p></p>

<h2>gRPC streaming methods</h2>

<p><b>getHeroByIdStream</b></p>
<p>{{ heroStream | async | json }}</p>

<p><b>getHeroesStream</b></p>
<p>{{ heroesStream | async | json }}</p>

<p></p>

<h2>REST api</h2>

<p><b>getHeroById</b></p>
<p>{{ heroRest | async | json }}</p>

<p><b>getHeroes</b></p>
<p>{{ heroesRest | async | json }}</p>
